

<div class="container-fluid bg-secondary">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 p-5">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/hackers.jpeg" alt="First slide">

            <div class="carousel-caption w-100 d-none d-md-block">
              <div class="row bg-secondary">
                <div class="col-4"></div>
                <div class="col-4 text-left">
                  <textarea highlight-js class="col-6 bg-transparent" style="font-size: 200%;">
  var tvShow = new TvShow(&#123;
    license: null,
    title: 'hack the planet'
  &#125;);
                    </textarea>
                </div>
                </div>
            </div>

          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row  mt-5">
    <div class="col-12 text-justify">
      <h2>Irgendwas mit Filmen und Code</h2>
      <p>
        Spielerisch Code kennen lernen, niederschwelliger Einstieg in verschiedene Programmiersprachen, schönes mit
        sinnvollen verbinden. Nerdige Referenzen und schmerzhafte Wortwitze.
      </p>
      <p>
        Aus einer Laune heraus haben wir begonnen Pseudocode zu Filmen und Serien zu schreiben. Herausgekommen ist
        dieses kleine Spiel.
        Bitte nehmt nichts ernst und bereitet euch auf schreckliche Wortwitze vor. Wir übernehmen keine Haftung für
        Schäden an Geist und Körper.
      </p>
      <p>
        Das Spiel selbst ist schnell erklärt. Gezeigt wird ein Code-Schnipsel, erraten werden muss der dazu gehörige
        Film.
        Gespielt wird in zwei Teams, die abwechselnd einen Schnipsel bekommen und dann 20 Sekunden Zeit haben um den
        passenden Film zu finden.
        Dabei bekommt das Team für einen korrekt erratenen Film in den ersten 10 Sekunden 5 Punkte und nach 10 Sekunden
        noch 4 Punkte.
        Nach 20 Sekunden bekommt das gegnerische Team 10 Sekunden um den Name des Films zu nennen und erhält 3 Punkte
        bei richtiger Nennung.
        Nach Ablauf von 30 Sekunden wird der Filmtitel aufgedeckt.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-lg-6">
<textarea highlight-js class="col-6 bg-transparent" style="font-size: 200%;">
var secondPilot = firstPilot
    .replace('Jeffrey Hunter', 'William Shatner')
    .replace('Majel Barnett', 'Leonard Nimoy')
    .addAction();
</textarea>
    </div>
    <div class="col-12 col-lg-6">
      <img src="/assets/startrek.svg" class="w-100" />
    </div>
  </div>
</div>
