<div class="container-mh-100">
    <div class="receipt-container">
        <h2>Einkauf vom
            <small><span *ngIf="receipt">{{ receipt.date | date }}</span></small>
        </h2>
        <div class="scroll-box">
            <div class="scroll">

                <app-receipt-info [description]="'Nachhaltigkeit'"></app-receipt-info>
                <app-receipt-info [description]="'CO2 Ausstoß'"></app-receipt-info>
                <app-receipt-info [description]="'Wasserverbrauch'"></app-receipt-info>
                <app-receipt-info [description]="'Entfernung'"></app-receipt-info>
                <app-receipt-info [description]="'Tier-Haltung'"></app-receipt-info>


            </div>
        </div>


    </div>
    <div class="control-container">

        <div class="scroll-box">
            <div class="scroll" *ngIf="receipt">
                <div class="receipt-item" *ngFor="let article of articles">
                    <span class="receipt-item-name">{{ article.name }}</span>
                    <span class="receipt-item-icons">
                        {{ article.score }}
                        <i class="icon-tree" *ngFor="let karmaIcon of article.karmaIcons"></i>
                    </span>
                </div>
            </div>
        </div>


    </div>

</div>
