<div class="container-mh-100">
    <div class="trophies-container">
        <h2>Trophäen</h2>
        <div class="scroll-box">
            <div class="scroll">

                <div class="trophy">
                    <div class="trophy-image trophy-bio"></div>
                    <div class="trophy-progress h6">250/250</div>
                    <div class="trophy-desc h4">
                        Bio Produkte
                    </div>
                </div>

                <div class="trophy">
                    <div class="trophy-image trophy-water"></div>
                    <div class="trophy-progress h6">500/500</div>
                    <div class="trophy-desc h4">
                        Low-water Produkte
                    </div>
                </div>

                <div class="trophy">
                    <div class="trophy-image trophy-fairtrade"></div>
                    <div class="trophy-progress h6">100/100</div>
                    <div class="trophy-desc h4">
                        Fairtrade Produkte
                    </div>
                </div>

                <div class="trophy unachieved">
                    <div class="trophy-image trophy-vegetarian"></div>
                    <div class="trophy-progress h6">40/100</div>
                    <div class="trophy-desc h4">
                        100 Tage Vegetarisch
                    </div>
                </div>

                <div class="trophy unachieved">
                    <div class="trophy-image trophy-vegan"></div>
                    <div class="trophy-progress h6">24/100</div>
                    <div class="trophy-desc h4">
                        100 Tage Vegan
                    </div>
                </div>

                <div class="trophy unachieved">
                    <div class="trophy-image trophy-green"></div>
                    <div class="trophy-progress h6">68/150</div>
                    <div class="trophy-desc h4">
                        Green Energy Produkte
                    </div>
                </div>

                <div class="trophy unachieved">
                    <div class="trophy-image trophy-bag"></div>
                    <div class="trophy-progress h6">40/250</div>
                    <div class="trophy-desc h4">
                        Recycling Papiertaschen
                    </div>
                </div>

                <div class="trophy unachieved">
                    <div class="trophy-image trophy-energy"></div>
                    <div class="trophy-progress h6">40/1000</div>
                    <div class="trophy-desc h4">
                        Low Energy Produkte
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
