<div class="container container-mh-100">
  <div class="row align-items-center" style="height: 100vh;">
    <div class="col-12 justify-content-center">
      <div class="d-flex flex-column align-items-center mb-5">

        <svg>
          <g inkscape:label="Ebene 1" inkscape:groupmode="layer" id="layer1" transform="translate(0,-164.70832)">
            <ellipse style="fill:#ffffff;fill-opacity:1;stroke-width:3.32244778;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none"
              id="path4597" cx="64.618675" cy="222.78947" rx="38.36734" ry="38.619759" />
            <ellipse style="fill:none;fill-opacity:1;stroke-width:1.26973542;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke:#ffffff;stroke-opacity:1"
              id="path4597-9" cx="64.366264" cy="223.04187" rx="54.269592" ry="54.522011" />
            <ellipse style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.05281234;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
              id="path4614" cx="23.85338" cy="258.88507" rx="9.57409" ry="9.4478788" />
            <ellipse style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.05281234;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
              id="path4614-6" cx="64.618675" cy="275.54459" rx="9.574091" ry="9.4478788" />
            <ellipse style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.05281234;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
              id="path4614-4" cx="104.2481" cy="258.63266" rx="9.574091" ry="9.4478788" />
          </g>
        </svg>

      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username" aria-label="username" aria-describedby="basic-addon2">
        <!-- <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">@example.com</span>
          </div> -->
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon2">
        <!-- <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div> -->
      </div>


      <button type="button" class="btn btn-secondary w-100">login</button>

      <button type="button" class="btn btn-secondary w-100 mt-5" (click)="loginWithGoogle()">login with google</button>

      <button type="button" class="btn btn-link text-dark w-100 mt-5">register</button>
    </div>
  </div>
</div>