<div class="profile container-mh-100">
    <div class="profile-container">
        <div class="profile-picture" *ngIf="user  && user.photoURL" [style.background-image]="'url(' + user.photoURL + ')' | safe: 'style'"></div>
        <div class="profile-picture" *ngIf="!user || !user.photoURL" style="background-image: url('/assets/avatar-default.jpeg')"></div>
        <div class="score">
            <span class="profile-score h1" *ngIf="userData">{{ userData.karma }}</span>
            <span class="profile-karma-total">Karmapunkte</span>
        </div>
        <!--<h3 class="profile-name"><span  *ngIf="user">{{ user.email }}</span></h3>-->
        <div class="awards">Y Y Y</div>
    </div>
    <div class="profile-history">
        <a class="btn btn-action" [routerLink]="['/scan']">Kassenzettel scannen</a>

        <div class="scroll-box">
            <div class="scroll" *ngIf="userData">
                <div class="profile-history-item" *ngFor="let receipt of receipts" [routerLink]="['/receipt/' + receipt.key]">
                    <span class="history-item-date">{{ receipt.date | date: 'd.M.yy, hh:mm' }}</span>
                    <span class="history-item-icons">
                        <i class="icon-tree"></i> {{ receipt.score }}
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
