<div class="profile container-mh-100">
    <div class="profile-container">
        <div class="profile-picture" style="background-image: url('/assets/avatar-mock.png')"></div>
        <h3 class="profile-name">Max Mustermann</h3>
        <span class="profile-karma-total"> 1.337 Karmapunkte</span>
        <i class="fa fa-user"></i>
        <div class="awards">Y Y Y</div>
    </div>
    <div class="profile-history">
        <a class="btn btn-action"  [routerLink]="['/scan']">Kassenzettel scannen</a>
        <div class="profile-history-item">
            <span class="history-item-date">04.11.2018</span>
            <span class="history-item-icons">
                <i class="icon-tree"></i>
                <i class="icon-tree"></i>
                <i class="icon-tree"></i>
            </span>
        </div>
        <div class="profile-history-item">
            <span class="history-item-date">04.11.2018</span>
            <span class="history-item-icons">
                <i class="icon-tree"></i>
                <i class="icon-tree"></i>
                <i class="icon-tree"></i>
            </span>
        </div>
    </div>
</div>
