@import "../../../styles.scss";

.profile {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.profile-container {
  text-align: center;
  height: 61.8vh;
  padding-top: $padding-top;
  //background-color: map-get($theme-colors, "primary");

  .profile-picture {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: top center;
    border: 5px solid map-get($theme-colors, "fontcolor");
    border-radius: 50%;
    margin-bottom: 1.4rem;
  }

  .score {
    display: block;
    width: 100%;
    margin-bottom: 2rem;

    .profile-score {
      //font-size: 60px;
      margin-top: -10px;
      line-height: 40px;
      text-align: center;
      display: block;
    }

    .profile-karma-total {
      display: block;
      margin-top: -10px;
    }
  }

  .profile-icon {
    top: 330px;
    left: 0;
    right: 0;
  }

  .trophy-icon {
    top: 300px;
    left: 180px;
    right: 0;
  }

  .chart-icon {
    top: 300px;
    left: 0;
    right: 180px;
    //font-size: 25px !important;
  }

  .icons, .icons i {
    //font-size: 33px;
    width: 43px;
    height: 43px;
    line-height: 43px;
    color: map-get($theme-colors, "fontcolor");
  }

  .active {
    background-color: map-get($theme-colors, "fontcolor") !important;
    color: map-get($theme-colors, "primary") !important;
    border-radius: 50%;
  }
}



.profile-name {
}

.profile-history {
  background-color: map-get($theme-colors, "secondary");
  height: 33.2vh; //golden ratio
  padding: 1rem 0 0;

  .scroll-box {
    height: 70%;
  }
}

.profile-history-item {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 8px 13px;

  color: black;
  background-color: white;
}

.icon-tree {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/assets/icon-tree.png) no-repeat top left;
  background-size: cover;
  margin-bottom: -5px;
  margin-right: 5px;
}

.history-item-icons {
  float: right;
}

.btn-action {
  background-color: map-get($theme-colors, "action");
  //position: absolute;
  position: relative;
  display: block;
  top: -2.1rem;

  color: white;
  //margin-bottom: -83px;
  border-radius: 23px;
  z-index: 1;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  &:hover {
    color: white
  }
}
