<div class="container-mh-100">
    <div class="highscore-container">
        <h2>Highscore</h2>
        <div class="scroll-box">
            <div class="scroll">
                <div class="place-container">
                    <div class="image" style="background-image: url('/assets/avatar-mock.png')"></div>
                    <div class="desc">
                        <span class="score h4">9512 <i class="icon-tree"></i></span>
                        <span class="name">Max Mustermann</span>
                    </div>
                </div>
                <div class="place-container">
                    <div class="image" style="background-image: url('/assets/avatar-mock.png')"></div>
                    <div class="desc">
                        <span class="score h4">9512 <i class="icon-tree"></i></span>
                        <span class="name">Max Mustermann</span>
                    </div>
                </div>
                <div class="place-container">
                    <div class="image" style="background-image: url('/assets/avatar-mock.png')"></div>
                    <div class="desc">
                        <span class="score h4">9512 <i class="icon-tree"></i></span>
                        <span class="name">Max Mustermann</span>
                    </div>
                </div>
                <div class="place-container">
                    <div class="image" style="background-image: url('/assets/avatar-mock.png')"></div>
                    <div class="desc">
                        <span class="score h4">9512 <i class="icon-tree"></i></span>
                        <span class="name">Max Mustermann</span>
                    </div>
                </div>
                <div class="place-container">
                    <div class="image" style="background-image: url('/assets/avatar-mock.png')"></div>
                    <div class="desc">
                        <span class="score h4">9512 <i class="icon-tree"></i></span>
                        <span class="name">Max Mustermann</span>
                    </div>
                </div>
                <div class="place-container">
                    <div class="image" style="background-image: url('/assets/avatar-mock.png')"></div>
                    <div class="desc">
                        <span class="score h4">9512 <i class="icon-tree"></i></span>
                        <span class="name">Max Mustermann</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>