<div class="container-mh-100">
    <div class="highscore-container">
        <h1>Highscore</h1>
        <div class="place-container">
            <div class="image" style="background-image: url('/assets/avatar-mock.png')"></div>
            <div class="desc">
                <span class="score">9512 <i class="icon-tree"></i></span>
                <span class="name">Max Mustermann</span>
            </div>
        </div>
        <div class="place-container">
            <div class="image" style="background-image: url('/assets/avatar-mock.png')"></div>
            <div class="desc">
                <span class="score">9512 <i class="icon-tree"></i></span>
                <span class="name">Max Mustermann</span>
            </div>
        </div>
    </div>
</div>