<div class="container-mh-100">
    <div class="highscore-container">
        <h2>Highscore</h2>
        <div class="scroll-box">
            <div class="scroll">
                <div class="place-container" *ngFor="let user of users">
                    <div class="image" style="background-image: url('/assets/avatar-mock.png')"></div>
                    <div class="desc">
                        <span class="score h4">{{user.karma}} <i class="icon-tree"></i></span>
                        <span class="name">{{user.key}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>