<nav class="navcontainer" *ngIf="userLoggedIn && router.url !== '/profile'">
  <a class="navbar-brand" href="#">karma.</a>

    <ul class="navbaricons">
        <li class="navicon" [ngClass]="{'active': router.url === '/profile'}" [routerLink]="['/profile']">
            <i class="fa fa-user"></i>
        </li>
        <li class="navicon" [ngClass]="{'active': router.url === '/highscore'}" [routerLink]="['/highscore']">
            <i class="fa fa-bar-chart"></i>
        </li>
        <li class="navicon" [ngClass]="{'active': router.url === '/highscore'}" [routerLink]="['/trophies']">
            <i class="fa fa-trophy"></i>
        </li>
    </ul>
</nav>