<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">IMFUC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">spielen <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">neue Frage anlegen</a>
      </li>
    </ul>

    <span class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-link">Login</button>
      <span>/</span>
      <button type="button" class="btn btn-link">Registrieren</button>
    </span>
  </div>
</nav>