<nav class="navcontainer" *ngIf="userLoggedIn && showNavbar">
  <a class="navbar-brand" href="#">karma.</a>

    <ul class="navbaricons">
        <li class="navicon" [ngClass]="{'active': router.url === '/profile'}" [routerLink]="['/profile']">
            <i class="fa fa-user"></i>
        </li>
        <li class="navicon" [ngClass]="{'active': router.url === '/highscore'}" [routerLink]="['/highscore']">
            <i class="fa fa-bar-chart"></i>
        </li>
        <li class="navicon" [ngClass]="{'active': router.url === '/trophies'}" [routerLink]="['/profile']">
            <i class="fa fa-trophy"></i>
        </li>
        <li class="navicon" *ngIf="userLoggedIn"  (click)="signOut()">
            <i class="fa fa-power-off"></i>
        </li>
    </ul>
</nav>